body {
    position: relative;
    height: 100vh; 
    font-family: "Suisse Int'l Mono", Arial, Helvetica, sans-serif;
    background: 
    url("./images/backgr.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/*шапка*/
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 200 px;
    text-align: center;
}

/*логотип*/
.logo {
    width: 150px;
}

/*кнопка*/
button{
    border: 1px solid #ffffffff;
    font-family: "Suisse Int'l Mono", serif;
    background-color: #246ef5;
}

.mainmenu{
    transition-duration: 0.6s;
    border: 1 px solid #000000;
}

.mainmenu:hover{
    background-color: #246ef5;
    color: #ffffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}