/* Убирает стрелки в поле ввода чисел */
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

/* Пример шрифта для нашего текста */
.cssFont_1 {
  font-family: Verdana;
  font-size: 45px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

body {
    position: relative;
    height: 100vh; 
    font-family: 'Noto Sans HK', Arial, Helvetica, sans-serif;
    background: 
    url("../images/backgr.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
/* Название продукта */
h1{
    font-size: 35px;
}

/*шапка*/
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 16px;
    line-height: 1.5;
    align-items: center;
    font-size: 33px;
    border-bottom: 3px solid #000;
}

/*логотип*/
.logo {
    width: 150px;
}
/*текст*/
.textline {
  font-family: Verdana;
  text-align: center;
  margin-top: 30px;
  line-height: 1;
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}



/*кнопка*/
button{
    border: 1px solid #ffffffff;
    font-family: "Suisse Int'l Mono", serif;
    color: #ffffffff;
}


.mainmenu{
    padding: 8px 20px;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 25px;
    line-height: 1.65;
    border-radius: 20px;

    background: #246ef5;
    transition-duration: 0.6s;
    border: 1 px solid #000000;


}

.mainmenu:hover{
    background-color: #246ef5;
    color: #000000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.all-content {
  margin-top: 40px;
  
}

.flags-and-select{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valute-card-all {
  height: 300px;
  width: 490px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  
}

#AJ{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.card{
  justify-content: column;
  align-items: center;
}

.flags{
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.form-control{
  border-radius: 24px;
  margin: 10px;
  height: 40px;
  width: 100%;
  background-color: #f4f4f4;
}

.form-select{
  width: 100%;
  border: none;
  border-radius: 24px;
  margin-left: 10px;
  margin: 10px;
  background-color: #f4f4f4;
}

.btn{
  margin: 5px;
  border: 0;
  border-radius: 24px;
  background-color: #246ef5;
}

.btn-reverse {
  border: 0px solid white;
  width: 7rem;
  height: 3.8rem;
}

a{
  color: #000000;
}

a:hover{
  color: #246ef5;
  transition-duration: 0.5s;
}

/*Нижний колонтитул*/
#footer {
  display: block;
  width: 100%;
}
.foot_blck {
  display: block;
  width: 94%;
  max-width: 1250px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 19px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.foot_levo {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.github {
display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 4px;
  vertical-align: middle;
}

#footer img {
  vertical-align: bottom;
}
.foot_levo img {
  margin-bottom: 3px;
  width: 150px;
}
.calc__title {
  font-weight: 500;
    font-size: 1.5em;
    font-family: Verdana;
    text-align: center;
    margin-block-end: 7%;
    margin-top:-10%;
    margin-bottom: 7%;
    color: #000000;
}


